# Import

In [3]:
import numpy as np
import pandas as pd
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
import cufflinks

cufflinks.go_offline()
cufflinks.set_config_file(world_readable=True, theme='pearl')

# Read Data

In [4]:
#data = "ALICL_2000-01-01_2021-12-31.csv"
develop = pd.read_csv("ALICL_2000-01-01_2021-12-31.csv", engine='python')
develop.head()

,S.N.,Date,Total Transactions,Total Traded Shares,Total Traded Amount,Max. Price,Min. Price,Close Price
0,1,2021-12-29,80,7301.0,8256887.7,1145.0,1117.2,1123.0
1,2,2021-12-28,182,18239.0,20247233.0,1150.0,1088.0,1125.0
2,3,2021-12-27,389,33991.0,39652953.1,1212.0,1124.0,1130.0
3,4,2021-12-26,395,43361.0,50376673.9,1188.0,1079.0,1188.0
4,5,2021-12-23,156,11832.0,12704046.9,1095.0,1040.0,1080.0